<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.wardellbagby.sea">

  <application
      android:icon="@mipmap/ic_launcher"
      android:label="@string/appname"
      android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

    <activity android:name="com.wardellbagby.sea.AppActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.INTERNET" />


</manifest>
